
body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #6a11cb; /* Focus border color */
    outline: none;
}

input[type="submit"] {
    background-color: #4c4c4c;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    
}
