body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('/static/image/log.avif') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  .login-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(14, 14, 14, 0.2);
    width: 100%;
    max-width: 400px;
  }
  .login-container h2 {
    margin-bottom: 20px;
    color: #c0bdbd;
  }
  .login-container .btn {
    background-color: black;
    color: white;
  }
  .login-container .btn:hover {
    background-color:  black;
  }
  .register-link {
    margin-top: 10px;
  }
  .register-link a {
    color: #050505;
    text-decoration: none;
  }
  .register-link a:hover {
    text-decoration: underline;
  }
  
  
