        .jewelry-item {
            border: 1px solid #4c4c4c;
            border-radius: 8px;
            padding: 10px;
            /* margin-bottom: 20px; */
            background-color :white;
            
            /* transition: box-shadow 0.3s ease; */
        }
        /* body{ */
            /* background-color: #121212; */
        /* } */

        .jewelry-item:hover {
            box-shadow: 4px 4px 8px rgba(146, 145, 145, 0.2);
        }

        .jewelry-item img {
            width: 100%;
            max-width: 200px;
            height: 160px;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        .jewelry-item h2 {
            font-size: 1.5rem;
            color: rgb(0, 0, 0);
        }

        .jewelry-item p {
            font-size: 0.9rem;
            color: rgb(0, 0, 0);
        }

        .action-buttons a {
            margin-right: 10px;
            color: rgb(3, 3, 3);
        }

        .action-buttons a.btn {
            font-size: 1rem;
        }
/* 
        .card {
            border: none;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          }
          .card-img-top {
            max-height: 250px;
            object-fit: cover;
          }
          .card-body {
            text-align: center;
          }
          .card-title {
            font-size: 1.25rem;
            font-weight: bold;
          }
          .card-text {
            font-size: 1rem;
            color: #555;
          }
          .card-price {
            font-size: 1.2rem;
            color: #007bff;
            font-weight: bold;
          } */

              /* Custom CSS for styling */
    .card {
      border: none;
      background-color: white;
      box-shadow: 0 4px 8px rgba(129, 129, 129, 0.1);
    }
    .card-img-top {
      max-height: 250px;
      object-fit: cover;
    }
    .card-body {
      text-align: center;
    }
    .card-title {
      font-size: 1.25rem;
      font-weight: bold;
    }
    .card-text {
      font-size: 1rem;
      color: #060606;
    }
    .card-price {
      font-size: 1.2rem;
      color: #007bff;
      font-weight: bold;
    }