  /* Full page background */
  .background {
    top: 15px;
    position: relative;
    background-image: url('/static/image/n4.png'); /* Replace with your own image URL */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    position: relative;
}

/* Button centered over the background */
.button-container {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* color: rgb(20, 20, 154); */
}
.button-container,h1{
    color: rgb(9, 9, 137);
}
.navbar .nav_item{
    color: rgb(244, 202, 237);
}