 

/* Button centered over the background */
.button-container{
    position: absolute;
    top: 210px;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* color: rgb(20, 20, 154); */
}
.button-container{
    top: 200px;
    left: 10%;
    color: rgb(9, 9, 137);
    position: absolute;
}
.navbar .nav_item{
    color: rgb(244, 202, 237);
}

    /* Custom CSS for styling */
    .card {
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
      }
      .card-img-top {
        max-height: 250px;
        object-fit: cover;
      }
      .card-body {
        text-align: center;
      }
      .card-title {
        font-size: 1.25rem;
        font-weight: bold;
      }
      .card-text {
        font-size: 1rem;
        color: #555;
      }
      .card-price {
        font-size: 1.2rem;
        color: #007bff;
        font-weight: bold;
      }
/* 
      footer{
        display: flex; 
        width: 100%;
        height: 600px;
        background-color: whitesmoke;
      }
    
      footer a{
      text-decoration: none;
      color: black;
      font-size: medium;
      }
      footer h6{
      font-weight: bold;
      }
      footer  a:hover{
      color: black;
      }
      footer svg:hover{
          color: rgb(106, 105, 105);
      }
      footer img{
      padding: 5px;
      margin-bottom: 5px;
      }
      .card-img-top {
        width: 100%;
        height: auto;
      }  */
    

      /* Search input styling */
.navbar .form-control {
  max-width: 300px; /* Control the size of the search input */
}

/* Search button styling */
.navbar .btn-outline-success {
  border-radius: 5px;
}

/* Adjust navbar layout for smaller screens */
@media (max-width: 768px) {
  .navbar .form-control {
      max-width: 200px; /* Make the search box smaller on mobile */
  }
}
