  /*  background */
  .background {
    /* top: 15px;
    position: relative; */
    background-image: url('/static/image/r.jpg');
    height: auto;
    background-size: cover;
    background-position: center;
    height: 60vh;
}
/* Button centered over the background */
.button-container{
    position: absolute;
    top: 210px;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.button-container{
    top: 200px;
    left: 10%;
    color: rgb(9, 9, 137);
    position: absolute;
}
.navbar .nav_item{
    color: rgb(244, 202, 237);
}

    /* Custom CSS for styling */
    .card {
        /* width: 100%; */
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
      }
      .card-img-top {
        max-height: auto;
        object-fit: cover;
      }
      .card-body {
        text-align: center;
      }
      .card-title {
        font-size: 1.25rem;
        font-weight: bold;
      }
      .card-text {
        font-size: 1rem;
        color: #555;
      }
      .card-price {
        font-size: 1.2rem;
        color: #007bff;
        font-weight: bold;
      }

      .two img {
        width: 100%;
        height: auto;
        max-width: 400px; /* Optional: restrict maximum width */
      }
      .custom-heading {
        font-size: 1.5rem;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
    
      .custom-heading:hover {
        color: #a57c00;
        text-decoration: underline;
      }
    
      .text-muted {
        color: #6c757d;
        font-size: 1rem;
      }
 /* Search input styling */
.navbar .form-control {
  max-width: 300px; 
}

/* Search button styling */
.navbar .btn-outline-success {
  border-radius: 5px;
}
  /* Make all carousel images the same height and responsive */
  .carousel-img {
    object-fit: cover; 
    height: 480px;
    width: 100%;
  }

  /* Adjust height for smaller screens */
  @media (max-width: 768px) {
    .carousel-img {
      height: 200px; 
    }
  }

/* Adjust navbar layout for smaller screens */
@media (max-width: 768px) {
  .navbar .form-control {
      max-width: 200px; 
  }
}
@media (max-width: 975px) {
  .navbar .form-control {
      max-width: 200px; 
  }
}
  @media (max-width: 768px) {
    .responsive-video {
      /* display: none; */
      height: 60vh;
      width: 100%;
    }
  }

  @media (max-width: 1200px) {
    .background {
      height: 50vh;  /* For medium screens like tablets */
    }
  }
  
  @media (max-width: 768px) {
    .background {
      height: 40vh;  /* For smaller screens like phones */
    }
  }
  
  @media (max-width: 576px) {
    .background {
      height: 30vh;  /* For extra small screens */
    }
  }
  @media (max-width: 768px) {
    .custom-container {
      background: none;
      /* display: block; */
    }
  }