  /* Full page background */
  .background {
    top: 15px;
    position: relative;
    background-image: url('/static/image/Lisa.webp');
    background-size: cover;
    background-position: center;
    height: 150vh; /* Full viewport height */
    position: relative;
    height: 480px;
}

/* Button centered over the background */
.button-container{
    position: absolute;
    top: 210px;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* color: rgb(20, 20, 154); */
}
.button-container{
    top: 200px;
    left: 10%;
    color: rgb(9, 9, 137);
    position: absolute;
}
.navbar .nav_item{
    color: rgb(244, 202, 237);
}

    /* Custom CSS for styling */
    .card {
        /* width: 100%; */
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
      }
      .card-img-top {
        max-height: auto;
        object-fit: cover;
      }
      .card-body {
        text-align: center;
      }
      .card-title {
        font-size: 1.25rem;
        font-weight: bold;
      }
      .card-text {
        font-size: 1rem;
        color: #555;
      }
      .card-price {
        font-size: 1.2rem;
        color: #007bff;
        font-weight: bold;
      }

      .two img {
        width: 100%;
        height: auto;
        max-width: 400px; /* Optional: restrict maximum width */
      }

      footer{
        /* display: flex; */
        width: 100%;
        height: 600px;
      }
    
      footer a{
      text-decoration: none;
      color: black;
      font-size: medium;
      }
      footer h6{
      font-weight: bold;
      }
      footer  a:hover{
      color: black;
      }
      footer svg:hover{
          color: rgb(106, 105, 105);
      }
      footer img{
      padding: 5px;
      margin-bottom: 5px;
      }
      .card-img-top {
        width: 100%;
        height: auto;
      }
      

      